*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





#hi{
    background-color: red;
    /* margin: 0px 0px 0px 100px; */
    height: 80px;
    width: 100%;
    /* display: flex; */
    /* padding-top: 20px; */
    justify-content: center;
    align-items: center;
    
}
.si{
    height: 40px;
    width: 20%;
    background-color: black;
    background-image: url('logo.png');
    background-size: cover;
    
    
    
    
}